<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">

    <!-- Open Graph -->
    <meta property="og:title"
        content="{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}">
    {% case page.layout %}
    {% when 'post' %}
    <meta property="og:type" content="article">
    <meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200 }}">
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: " %Y-%m-%dT%H:%M:%SZ" }}">
    {% endif %}
    {% if page.author %}
    <meta property="article:author" content="{{ page.author }}">
    {% endif %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
    {% else %}
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    {% endcase %}
    <meta property="og:image" content="{{ site.url }}{{ site.sidebar-avatar }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.SEOTitle }}">
    <meta property="og:locale" content="ru_RU">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title"
        content="{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}">
    <meta name="twitter:description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.url }}{{ site.sidebar-avatar }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
    <script>
        (function () {
            var lang = new URLSearchParams(window.location.search).get('lang');
            var isEnglish = lang === 'en';
            var englishBrand = 'Jollu Engineering Notes';
            var russianBrand = '{{ site.title }}';
            var englishHome = 'C++ developer in 5G and high-performance systems';
            var russianHome = 'C++ разработчик в области 5G и высокопроизводительных систем';
            var englishAbout = 'Professional profile';
            var russianAbout = 'Профессиональный профиль';

            var brandText = isEnglish ? englishBrand : russianBrand;
            document.title = document.title.replace('{{ site.SEOTitle }}', brandText);
            document.querySelectorAll('meta[property="og:site_name"]').forEach(function (meta) {
                meta.setAttribute('content', brandText);
            });
            document.querySelectorAll('meta[property="og:title"], meta[name="twitter:title"]').forEach(function (meta) {
                meta.setAttribute('content', meta.getAttribute('content').replace('{{ site.SEOTitle }}', brandText));
            });

            var metaDesc = document.querySelector('meta[name="description"]');
            if (metaDesc) {
                var descText = metaDesc.getAttribute('content');
                if (descText && descText.indexOf('C++ разработчик') !== -1) {
                    metaDesc.setAttribute('content', isEnglish ? englishHome : russianHome);
                }
                if (descText && descText.indexOf('Профессиональный профиль') !== -1) {
                    metaDesc.setAttribute('content', isEnglish ? englishAbout : russianAbout);
                }
            }
        })();
    </script>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ " /css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ " /css/hux-blog.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>

    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-6487568398225121" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
